<div class="product-card">
  <div class="product-images">
    <!-- Si la iamgen esta rota, inserta el placeholder que cree -->
    <img [src]="product.cover_i | coverUrl:'M'" [alt]="'Portada de ' + product.title" (error)="onImageError($event)">
  </div>

  <div class="product-info">
    <small>
      Año: {{ product.first_publish_year || 'S/N' }} 
      @if (product.language?.length) {
        | Idiomas: {{ product.language?.slice(0, 3)?.join(', ') }}
      }
    </small>

    <h2>{{ product.title }}</h2>

    <p class="author">
      <strong>Autor:</strong> {{ product.author_name?.join(', ') || 'Autor desconocido' }}
    </p>

    <div class="actions">
      <a 
        [routerLink]="['/products', product.key.replace('/works/', '')]" 
        class="btn-detail"
      >
        Ver detalles y reseñas
      </a>
    </div>
  </div>
</div>