.product-card {
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
min-height:  590px;
    background-color: #FFFFFF;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.product-images img {
    width: 220px;
    object-fit: contain;
    max-height: 330px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}

.product-info h2,
.categoria {
color: rgb(129, 3, 3);
font-weight: 700;
}

.product-info h2 {
    font-size: 22px;
}

.precio {
    color: brown;
    font-weight: 700;
    font-size: 20px;
    margin: auto;
}

.actions {
    width: 100%;
}
a.btn-detail{
    display: flex;
    justify-content: center;
    align-items: center;
text-decoration: none;
background-color: brown;
font-size: 16px;
color: #FFFFFF;
padding: 8px;
border-radius: 4px;
width: 100%;
}